<div class="card">
    <mat-card>
        <div class="header">
            <h1>Admin-Dashboard</h1>
        </div>
        <div class="main">
            <div class="main-top">
                <div class="left-div">
                    <table>
                        <tr>
                            <td>Account Count:</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Active Admins:</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Active Editors:</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Active Users:</td>
                            <td>5</td>
                        </tr>
                    </table>
                </div>
                <div class="right-div">
                    <table>
                        <th>Created Accounts</th>
                        <tr>
                            <td>9</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="main-middle">
                <h3>Edit User Role</h3>
                <div class="table-div">
                    <table>
                        <th>User-ID</th>
                        <th>User Fullname</th>
                        <th>Current Role</th>
                        <tr>
                            <td>id</td>
                            <td>full name</td>
                            <td>role</td>
                            <td>role-selector</td>
                        </tr>
                        <tr>
                            <td>id</td>
                            <td>full name</td>
                            <td>role</td>
                            <td>role-selector</td>
                        </tr>
                        <tr>
                            <td>id</td>
                            <td>full name</td>
                            <td>role</td>
                            <td>role-selector</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-card>
</div>