<div class="card">
    <mat-card>
        <div class="header">
            <h1>Admin-Dashboard</h1>
        </div>
        <div class="main">
            <div class="main-top">
                <div class="left-div">
                    <table>
                        <tr>
                            <td>Active Admins:</td>
                            <td>{{ allUsers.admins }}</td>
                        </tr>
                        <tr>
                            <td>Active Editors:</td>
                            <td>{{ allUsers.editors }}</td>
                        </tr>
                        <tr>
                            <td>Active Users:</td>
                            <td>{{ allUsers.users }}</td>
                        </tr>
                    </table>
                </div>
                <div class="right-div">
                    <table>
                        <th>Created Accounts</th>
                        <tr>
                            <td>{{ allUsers.allUsers }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="main-middle">
                <h3>Edit User Role</h3>
                <div class="table-div">
                    <table>
                        <th>User-ID</th>
                        <th>User Fullname</th>
                        <th>Current Role</th>
                        <tr *ngFor="let user of Users, let i = index">
                            <td>{{ user.customIdField}}</td>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td class="{{ Users[i]['role'] }}">{{ user.role }}</td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Select a Role</mat-label>
                                    <mat-select disableRipple [(ngModel)]="Users[i]['role']">
                                        <mat-option value="User">User</mat-option>
                                        <mat-option value="Admin">Admin</mat-option>
                                        <mat-option value="Editor">Editor</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-raised-button (click)="updateUserRole( user.customIdField, i )">Confirm Changes</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </mat-card>
</div>