.footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
    }
}