<div class="card">
    <mat-card>
        <div class="card-header">
            <div>
                <h3>{{ user['firstName'] }} {{user['lastName']}}</h3>
                <p class="margin"> {{ user['email']}}</p>
            </div>
            <div>
                <img class="avatar" src="assets/img/avatar.png" alt="">
                <p><b>{{ user['role']}}</b></p>
            </div>
        </div>
        <div class="details">
            <div class="menuIcon">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="menuBtn">
                <mat-icon aria-hidden="false">menu_open</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editUserDialog()">
                      <mat-icon>edit</mat-icon>
                      <span>Edit Profil</span>
                    </button>
                    <button mat-menu-item (click)="getURL()">
                      <mat-icon>share</mat-icon>
                      <span>Share Profil</span>
                    </button>
                </mat-menu>
            </div>
            <div class="category-row">
                <div><img src="assets/img/pin-32.png" alt=""></div>
                <div>
                    <b>Adress:</b>
                    <div>
                        <div class="margin"><b>City:</b>
                            <p class="cGrey margin">{{ user['city']}}</p>
                        </div>
                        <div class="margin"><b>Street:</b>
                            <p class="cGrey margin">{{ user['street']}}</p>
                        </div>
                        <div class="margin"><b>Zip Code:</b>
                            <p class="cGrey margin">{{ user['zipCode']}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-row">
                <div><img src="assets/img/calendar-32.png" alt=""></div>
                <div>
                    <div><b>Birth Date:</b></div>
                    <div class="margin cGrey">{{ birthdayYMD}}</div>
                </div>
            </div>
            <div class="category-row">
                <div><img src="assets/img/line-32.png" alt=""></div>
                <div>
                    <div><b>User-ID:</b></div>
                    <div class="margin cGrey">{{ user['customIdField']}}</div>
                </div>
            </div>
        </div>



    </mat-card>
</div>