<div class="main">
    <h1>Login CRM</h1>
    <div class="logindiv">
        <form action="">
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="email" name="email" type="text" placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password ">
            </mat-form-field>
            <button mat-raised-button (click)="signIn() ">Login</button>
        </form>
    </div>
</div>
<app-footer></app-footer>