.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    h1 {
        margin-bottom: 50px;
        font-size: 60px;
        background-color: rgb(253, 189, 70);
        padding: 16px;
        border-radius: 16px;
        box-shadow: 0px 0px 10px 5px rgb(253, 189, 70);
    }
    .logindiv {
        margin-bottom: 100px;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            input {
                text-align: center;
            }
            button {
                max-width: 50%;
                background-color: rgb(255, 210, 125);
            }
        }
    }
}