/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Role colors
.User {
    color: black;
}

.Admin {
    color: red;
}

.Editor {
    color: rgb(141, 231, 6);
}