<div class="card">
    <mat-card>
        <div class="header">
            <h2>My To-Do´s</h2>
            UserName: Name
        </div>
        <div>
            <table class="table">
                <th>Nr.</th>
                <th>Priority</th>
                <th>Task</th>
                <th>Deadline</th>
                <tr>
                    <td>1</td>
                    <td>High</td>
                    <td>Add Login</td>
                    <td>08.07.22</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>High</td>
                    <td>Add Login</td>
                    <td>08.07.22</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>High</td>
                    <td>Add Login</td>
                    <td>08.07.22</td>
                </tr>
            </table>
        </div>
    </mat-card>
</div>