<mat-card>
    <table>
        <tr>
            <th>Role</th>
            <th>Full Name</th>
            <th>E-Mail</th>
            <th>ID</th>
        </tr>
        <tr *ngFor="let user of userList, let i = index" [routerLink]="['/user/'+ user.customIdName]">
            <td>{{ user['role']}}</td>
            <td>{{ user['firstName']}} {{user['lastName']}}</td>
            <td>{{ user['email']}}</td>
            <td>{{ user['customIdName']}}</td>
        </tr>
    </table>

</mat-card>

<!-- add user button -->
<div class="add-user-btn">
    <button mat-fab color="primary" matTooltip="Add User" [matTooltipPosition]="'left'" (click)="openDialog('0ms', '0ms')">
      <mat-icon>add</mat-icon>
    </button>
</div>